/**

Css part that manages the display of the update.php file

December, 12, 2018
@author Leslie Col-iteng

I, Leslie Col-iteng, 000772220, certify that this material 
is my original work. No other person's work has been used 
without due acknowledgment. 
*/



*{
    margin: 0;
    outline: none;
    font-family: sans-serif;
}

body{
    background: rgb(230, 250, 255);
    background-size: cover; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: verdana, sans-serif;
    -webkit-font-smoothing:antialiased;
        font:normal .8764em/1.5em HelveticaNeue-Light,Helvetica,Arial,sans-serif;
}

html{
    height: 100%;
}

legend{
    text-transform: capitalize;
    font-weight: 800;
}

.mainHead{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 80%;
    height: 15vh;
    background-color: rgb(0, 34, 51);
    border-radius: 0px 0px 15px 15px;
}

div{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

fieldset:hover{
    background-color: white;
}

fieldset{
    border-radius: 0px 15px 15px 15px;
    border: 3px solid black;
}

p{
    padding: 10px;
    text-indent: 50px;
    text-align: justify;
    text-shadow: white 0px 0px 10px;
}